html * {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    position: absolute;
    top: 15px;
    left: 25px;
    width: 800px;
    height: 600px;
    border: 1px solid black;
}
