html * {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

select,
input {
    border-radius: 0;
    border: 1px solid black;
    background-color: white;
    padding-left: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

#header {
    display: block;
    position: relative;
    min-width: 500px;
    height: 34px;
    left: 15px;
    top: 5px;
}

#busyIndicator {
    display: block;
    position: relative;
    width: 12px;
    height: 22px;
    float: left;
    border: 1px solid black;
}

.busyIndicator--idle {
    background-color: #0b0;
}

.busyIndicator--busy {
    background-color: #b00;
}

#resolutionSelect {
    display: block;
    position: relative;
    width: 300px;
    height: 24px;
    margin-left: 8px;
    float: left;
}

#exportButton {
    display: block;
    position: relative;
    width: 150px;
    height: 22px;
    line-height: 22px;
    float: right;
    background-color: #eef;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#canvasArea {
    display: block;
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 15px;
    border: 1px solid black;
}

#svgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: all;
}

#info {
    display: block;
    position: relative;
    min-width: 500px;
    top: 4px;
    left: 15px;
    height: 30px;
}

#pixelCoordsArea {
    float: left;
}

#mathCoordsArea {
    float: right;
}

#iterationsInput {
    display: block;
    position: relative;
    top: 4px;
    left: 15px;
    width: 300px;
}